version: "3.8"

services:
  mongo:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: server
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    volumes:
      - ./server:/app
    environment:
      - MONGO_URI=mongodb://mongo:27017/myapp

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - server
    volumes:
      - ./client:/app       
      - /app/node_modules   
    environment:
      - CHOKIDAR_USEPOLLING=true 
      - REACT_APP_API_URL=http://server:5000

volumes:
  mongo-data:
